# Binaries
venvcleaner
venvcleaner-*
dist/

# Go build cache
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Go coverage files
*.out

# Dependency directories
vendor/
